<html class="mdc-typography">

<head>
  <title>Material Components for the web</title>
  <link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="mdc-typography main-body">
  <header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <span class="catalog-back">
            <a href="/" class="mdc-toolbar__icon--menu"><i class="material-icons">cloud</i></a>
          </span>
        <span class="mdc-toolbar__title catalog-title">dotNetflix</span>
      </section>
 <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          <a href="#" class="material-icons mdc-toolbar__icon toggle" aria-label="More" alt="More">account_circle</a>
          <div class="mdc-menu-anchor">
            <div class="mdc-simple-menu" tabindex="-1" id="account-menu">
              <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true" style="transform: scale(1, 1);">
                <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.069s;">Account</li>
                <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.124s;">Sign In</li>
                <li class="mdc-list-divider" role="separator"></li>
              </ul>
            </div>
          </div>
        </section>
    </div>
  </header>

  <div class="main-content mdc-toolbar-fixed-adjust">
    <nav class="mdc-permanent-drawer">
      <div class="mdc-list-group">
        <nav class="mdc-list">
          <a class="mdc-list-item mdc-permanent-drawer--selected" href="#">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">home</i>
              Home
            </a>
          <a class="mdc-list-item" href="#">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">file_upload</i>Upload new File
            </a>
          <a class="mdc-list-item" href="#">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">view_module</i>View Videos
            </a>
          <a class="mdc-list-item" href="#">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">drafts</i>Drafts
            </a>
        </nav>

        <hr class="mdc-list-divider">

        <nav class="mdc-list">
          <a class="mdc-list-item" href="#">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">email</i>All Mail
            </a>
          <a class="mdc-list-item" href="#">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">delete</i>Trash
            </a>
          <a class="mdc-list-item" href="#">
              <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">report</i>Spam
            </a>
        </nav>
      </div>
    </nav>
    <main class="demo-main">
      @RenderBody()
    </main>
  </div>

  <script src="node_modules/material-components-web/dist/material-components-web.js"></script>
  <script>
    mdc.autoInit()
  </script>
  <script type="text/javascript">
    var menuEl = document.querySelector('#account-menu');
    var menu = new mdc.menu.MDCSimpleMenu(menuEl);
    var toggle = document.querySelector('.toggle');
    toggle.addEventListener('click', function() {
      menu.open = !menu.open;
    });
  </script>
  </div>
</body>

</html>