<br>
<div class="mdc-card">
  <section class="mdc-card__primary">
    <h1 class="mdc-card__title mdc-card__title--large">Sign into your account</h1>
    <h2 class="mdc-card__subtitle">Signing in allows you to upload videos</h2>
		<h2>@ViewData["Message"]</h2>
  </section>
  <section class="mdc-card__supporting-text">

			<form method="POST" action="">		
				<div class="mdc-layout-grid">
					<div class="mdc-layout-grid__inner">
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<div class="mdc-textfield">
								<input type="text" id="username-text" class="mdc-textfield__input" required name="username">
								<label class="mdc-textfield__label" for="username-text">Username</label>
								<div class="mdc-textfield__bottom-line"></div>
							</div>
						</div>
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<div class="mdc-textfield">
								<input type="password" id="password-text" class="mdc-textfield__input" required minlength=8 name="password">
								<label class="mdc-textfield__label" for="password-text">Password</label>
							</div>
						</div>	
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<div class="mdc-textfield">
								<input type="password" id="password-text-verify" class="mdc-textfield__input" required minlength=8 name="passwordverify">
								<label class="mdc-textfield__label" for="password-text-verify">Password verify</label>
							</div>
						</div>	
						<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
							<button class="mdc-button mdc-button--compact mdc-card__action mdc-button--raised">Create Account</button>
						</div>	
					</div>
				</div>
			</form>
		
  </section>
  <section class="mdc-card__actions">
		<p>Already have an account? <a href="/account/signin" >Create Account</a></p>
  </section>
</div>
