<style>
	.mdc-grid-tile {
    width: 33%;
  }

	.mdc-grid-tile canvas{
		width: 323px;
		height: 274px;
  }
</style>
<h1>Video</h1>

<video id="video" src="@ViewData["url"]" controls width="50%">
Sorry, your browser doesn't support embedded videos, 
but don't worry, you can <a href="@ViewData["url"]">download it</a>
and watch it with your favorite video player!
</video>


<div class="mdc-grid-list">
  <ul class="mdc-grid-list__tiles">
    <li class="mdc-grid-tile">
      <div class="mdc-grid-tile__primary">
        <canvas id="canvas0"></canvas>
      </div>
      <span class="mdc-grid-tile__secondary">
        <button class="screenshotBtn">Take Screenshot</button>
      </span>
    </li>
    <li class="mdc-grid-tile">
      <div class="mdc-grid-tile__primary">
        <canvas id="canvas1"></canvas>
      </div>
      <span class="mdc-grid-tile__secondary">
        <button class="screenshotBtn">Take Screenshot</button>
      </span>
    </li>
    <li class="mdc-grid-tile">
      <div class="mdc-grid-tile__primary">
        <canvas id="canvas2"></canvas>
      </div>
      <span class="mdc-grid-tile__secondary">
        <button class="screenshotBtn">Take Screenshot</button>
      </span>
    </li>
  </ul>
</div>

<button class="mdc-button mdc-button--accent mdc-button--raised">
  Sumbit
</button>

<script>

document.addEventListener('DOMContentLoaded', function() {
  var video = document.getElementById("video");
	var canvas = document.getElementById("canvas1");

	var buttons = document.getElementsByClassName("screenshotBtn");

	buttons[0].addEventListener("click", function(){
		(document.getElementById("canvas0")).getContext('2d').drawImage(video,0,0, Math.floor(canvas.clientWidth), Math.floor(canvas.clientHeight)*.7);
	});

	buttons[1].addEventListener("click", function(){
		(document.getElementById("canvas1")).getContext('2d').drawImage(video,0,0, Math.floor(canvas.clientWidth), Math.floor(canvas.clientHeight)*.7);
	});

	buttons[2].addEventListener("click", function(){
		(document.getElementById("canvas2")).getContext('2d').drawImage(video,0,0, Math.floor(canvas.clientWidth), Math.floor(canvas.clientHeight)*.7);
	});
	//(document.getElementById("canvas"+i)).getContext('2d').drawImage(video,0,0, Math.floor(canvas.clientWidth), Math.floor(canvas.clientHeight)*.7);
});


</script>